# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# node modules
node_modules/

# next.js
.next/

# production
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# local env files
.env

# my testing files
demo/



public/
!public/favicon.ico
!public/images/BannerForGithub.png
